<?xml version="1.0"?>
<!--
[2d_lidar.urdf.xacro]
2D Lidar xacro file.
Reference: https://articulatedrobotics.xyz/tutorials/mobile-robot/hardware/lidar

Include this file and make a joint between laser_frame and your link.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:macro name="add_2d_lidar" params="prefix topic parent x y z rpy">
        <joint name="${prefix}_joint" type="fixed">
            <origin xyz="${x} ${y} ${z+0.027}" rpy="${rpy}"/>
            <parent link="${parent}"/>
            <child link="${prefix}_link"/>
        </joint>

        <link name="${prefix}_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://msd700_description/meshes/rplidar.dae"/>
                </geometry>
                <material name="black"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="0.01" length="0.01"/>
                </geometry>
            </collision>
        </link>

        <gazebo reference="${prefix}_link">
            <material>Gazebo/Black</material>
            <sensor name="${prefix}_sensor" type="ray" parent="${prefix}_link">
                <pose>0 0 0 0 0 0</pose>
                <visualize>true</visualize>
                <update_rate>5</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>360</samples>
                            <resolution>1</resolution>
                            <min_angle>-3.14159</min_angle>
                            <max_angle>3.14159</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.08</min>
                        <max>12.0</max>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.01</stddev>
                    </noise>
                </ray>
                <plugin filename="libgazebo_ros_laser.so" name="gazebo_ros_laser">
                    <frameName>${prefix}_link</frameName>
                    <topicName>${topic}</topicName>
                    <outputType>sensor_msgs/LaserScan</outputType>
                    <visualizeScan>true</visualizeScan>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>
</robot>