<!--
[msd700_hardware.launch]
This launch file contains the following:
1. Serial Communication with Arduino Firmware
2. Serial Communication with 2D Lidar
3. Odometry     (will be replaced and handled by ros_control later)
4. RVIZ         (Optional)
-->
<launch>
    <!-- Parameters -->
    <arg name="odom_config"     default="$(find msd700_hardware)/config/msd700_odometry.yaml" />
    <arg name="xacro_path"      default="$(find msd700_description)/urdf/msd700_prototype.urdf.xacro" />

    <arg name="use_rviz"        default="false" />          <!-- Use RViz -->
    <arg name="lidar_count"     default="1" />      <!-- Lidar count -->

    <!-- Serial Communication with Firmware (Arduino) -->
    <include file="$(find msd700_hardware)/launch/serial_arduino.launch"/>

    <!-- RPLidar -->
    <group if="$(eval int(arg('lidar_count')) == 1)">
        <!-- RPLidar -->
        <include file="$(find msd700_hardware)/launch/lidar_scanner.launch">
            <arg name="name" value="rplidar_node" />
            <arg name="port" value="/dev/rplidar1" />
            <arg name="scan_topic" value="/scan" />
            <arg name="frame_id" value="base_link" />
        </include>
    </group>

    <group if="$(eval int(arg('lidar_count')) == 2)">
        <!-- RPLidar 1 -->
        <include file="$(find msd700_hardware)/launch/lidar_scanner.launch">
            <arg name="name" value="rplidar1_node" />
            <arg name="port" value="/dev/rplidar1" />
            <arg name="scan_topic" value="/scan1" />
            <arg name="frame_id" value="base_link" />
        </include>
        <!-- RPLidar 2 -->
        <include file="$(find msd700_hardware)/launch/lidar_scanner.launch">
            <arg name="name" value="rplidar2_node" />
            <arg name="port" value="/dev/rplidar2" />
            <arg name="scan_topic" value="/scan2" />
            <arg name="frame_id" value="base_link" />
        </include>
    </group>

    <!-- Odometry -->
    <include file="$(find msd700_hardware)/launch/odometry.launch">
        <arg name="config_file"       value="$(arg odom_config)" />
    </include>

    <!-- Add robot description urdf to parameter server -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg xacro_path)" />
    <!-- Robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- RVIZ -->
    <group if="$(arg use_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find msd700_hardware)/rviz/msd700_hardware.rviz" />
    </group>
</launch>