<launch>
    <!-- Parameters -->
    <arg name="use_rviz"            default="false"/>
    <arg name="hardware_config"     default="$(find msd700_hardware)/config/msd700_hardware.config"/>
    <arg name="odom_config"         default="$(find msd700_hardware)/config/msd700_odometry.config"/>

    <rosparam command="load"     file="$(arg serial_config_file)" />
    <rosparam command="load"     file="$(arg odom_config_file)" />

    <!-- Serial Communication with Firmware (Arduino) -->
    <include file="$(find msd700_hardware)/launch/serial_arduino.launch">
        <arg name="port"        value="$(param arduino_config/serial_port)" />
        <arg name="baud"        value="$(param arduino_config/serial_baudrate)" />
        <arg name="frame_id"    value="$(param arduino_config/frame_id)" />
    </include>

    <!-- RPLidar A1 -->
    <include file="$(find msd700_hardware)/launch/lidar_scanner.launch">
        <arg name="serial_port"       value="$(param rplidar_config/serial_port)" />
        <arg name="serial_baudrate"   value="$(param rplidar_config/serial_baudrate)" />
        <arg name="frame_id"          value="$(param rplidar_config/frame_id)" />
        <arg name="inverted"          value="$(param rplidar_config/inverted)" />
        <arg name="angle_compensate"  value="$(param rplidar_config/angle_compensate)" />
        <arg name="scan_mode"         value="$(param rplidar_config/scan_mode)" />
        <arg name="max_distance"      value="$(param rplidar_config/max_distance)" />
    </include>

    <!-- Odometry -->
    <include file="$(find msd700_hardware)/launch/odometry.launch">
        <arg name="config_file"       value="$(arg odom_config)" />
    </include>

    <!-- RVIZ -->
    <group if="$(arg use_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find msd700_hardware)/rviz/msd700_hardware.rviz" />
    </group>
</launch>