<launch>
    <!-- Arguments and parameter -->
    <arg name="odom_config" default="$(find msd700_hardware)/config/msd700_odometry.yaml" />
    <rosparam file="$(arg odom_config)" command="load" />

    <!-- Serial Arduino -->
    <include file="$(find msd700_hardware)/launch/serial_arduino.launch" />

    <!-- Odometry based on data from firmware -->
    <include file="$(find msd700_hardware)/launch/odometry.launch" />

    <!-- Odometry Tuning -->
    <node pkg="msd700_hardware" type="odom_tune_node" name="odometry_tune_node" output="screen" />

</launch>