<launch>
    <arg name="port" default="/dev/arduino"/>
    <arg name="baud" default="57600"/>

    <!-- Serial Communication with Firmware -->
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" respawn="true" output="screen">
        <param name="port" value="$(arg port)"/>
        <param name="baud" value="$(arg baud)"/>
    </node>

    <!-- Hardware State Parser -->
    <node pkg="msd700_hardware" type="hardware_state_node.py" name="hardware_state_node" output="screen" />

</launch>