<launch>
    <arg name="lidar_count" default="1" />
    <arg name="namespace" default="/msd700" />

    <!-- Serial Communication with Firmware (Arduino) -->
    <include file="$(find msd700_hardware)/launch/serial_arduino.launch">
        <arg name="namespace" value="$(arg namespace)" />
    </include>

    <!-- RPLidar -->
    <group if="$(eval int(arg('lidar_count')) == 1)">
        <!-- RPLidar -->
        <include file="$(find msd700_hardware)/launch/lidar_scanner.launch">
            <arg name="name" value="rplidar_node" />
            <arg name="port" value="/dev/rplidar1" />
            <arg name="scan_topic" value="sensors/scan" />
            <arg name="frame_id" value="lidar_link" />
            <arg name="namespace" value="$(arg namespace)" />
        </include>
    </group>

    <group if="$(eval int(arg('lidar_count')) == 2)">
        <!-- RPLidar 1 -->
        <include file="$(find msd700_hardware)/launch/lidar_scanner.launch">
            <arg name="name" value="rplidar1_node" />
            <arg name="port" value="/dev/rplidar1" />
            <arg name="scan_topic" value="scan1" />
            <arg name="frame_id" value="base_link" />
            <arg name="namespace" value="$(arg namespace)" />
        </include>
        <!-- RPLidar 2 -->
        <include file="$(find msd700_hardware)/launch/lidar_scanner.launch">
            <arg name="name" value="rplidar2_node" />
            <arg name="port" value="/dev/rplidar2" />
            <arg name="scan_topic" value="scan2" />
            <arg name="frame_id" value="base_link" />
            <arg name="namespace" value="$(arg namespace)" />
        </include>
    </group>

</launch>